<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="'/assets/' + ${application_logo}" type="image/svg+xml">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <title th:text="${application_name}"></title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="dashboard" style="margin: 10px;">
        <img class="d-inline-block align-top" height="30" th:src="'/assets/' + ${application_logo}"
             width="30"/>&nbsp;<span
            th:text="${application_name}"/>
    </a>
    <div>
        <ul class=" navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a id="loginUrl" class="btn btn-primary" role="button" href="/oauth2/authorization/govsso">Log in</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div th:if="${#request.getParameter('show-post-logout-message')}" class="alert alert-info" role="alert" th:text="'You have been logged out from ' + ${application_name}">
            </div>
            <div th:if="${param.error}" th:switch="${param.error[0]}">
                <div class="alert alert-danger" role="alert" th:case="invalid_session">
                    Invalid session!
                </div>
                <div class="alert alert-danger" role="alert" th:case="expired_session">
                    Session expired!
                </div>
                <div class="alert alert-info" role="alert" th:case="user_cancel">
                    User cancelled authentication!
                </div>
                <div class="alert alert-danger" role="alert" th:case="*">
                    Error during authentication!
                </div>
            </div>
            <h1 class="display-3" th:text="${application_name} + ' e-service'">Welcome!</h1>
            <p>Welcome to our e-service! </p>
            <p>To access your dashboard, please log in.</p>
            <br>
            <p>Authentication request locale: <select id="localeOptions">
                <option value="none">(none)</option>
                <option value="et">et</option>
                <option value="en">en</option>
                <option value="ru">ru</option>
            </select></p>
            <p>Authentication request ACR: <select id="acrOptions">
                <option value="none">(none)</option>
                <option value="low">low</option>
                <option value="substantial">substantial</option>
                <option value="high">high</option>
            </select></p>
        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom" style="z-index: -1">
    <p class="mb-1"><img src="/assets/eu_regional_development_fund_horizontal.jpg" width="100px"></p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Required scripts -->
<script src="/scripts/login.js" type="text/javascript"></script>
</body>
</html>
