<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="'/assets/' + ${application_logo}" type="image/svg+xml">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/loginView.css">
    <title th:text="${application_name}"></title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 m-2" href="dashboard">
        <img class="d-inline-block align-top" height="30" th:src="'/assets/' + ${application_logo}"
             width="30"/>&nbsp;<span
            th:text="${application_name}"/>
    </a>
    <div>
        <ul class=" navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <button id="loginBtn" class="btn btn-primary" role="button">Log in</button>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div th:if="${show_post_logout_message}" class="alert alert-info" role="alert"
                 th:text="'You have been logged out from ' + ${application_name}">
            </div>
            <div th:if="${param.error}" th:switch="${param.error[0]}">
                <div class="alert alert-danger" role="alert" th:case="invalid_session">
                    Invalid session!
                </div>
                <div class="alert alert-danger" role="alert" th:case="expired_session">
                    Session expired!
                </div>
                <div class="alert alert-info" role="alert" th:case="user_cancel">
                    User cancelled authentication!
                </div>
                <div class="alert alert-danger" role="alert" th:case="*">
                    Error during authentication!
                </div>
            </div>
            <h1 class="display-3" th:text="${application_name} + ' e-service'">Welcome!</h1>
            <p>Welcome to our e-service! </p>
            <p>To access your dashboard, please log in.</p>
            <br>
            <h2>Authentication request parameters</h2>
            <form id="authForm" method="get" th:action="@{'/oauth2/authorization/' + ${authentication_provider}}">
                <div class="form-group row">
                    <label for="authLocale" class="col-sm-2 col-form-label">Locale</label>
                    <div class="col-sm-10 form-row">
                        <div class="col-sm-3">
                            <select id="authLocale" name="locale" class="form-control">
                                <option value="">(none)</option>
                                <option value="et">et</option>
                                <option value="en">en</option>
                                <option value="ru">ru</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="authAcr" class="col-sm-2 col-form-label">ACR</label>
                    <div class="col-sm-10 form-row">
                        <div class="col-sm-3">
                            <select id="authAcr" name="acr" class="form-control">
                                <option value="">(none)</option>
                                <option value="low">low</option>
                                <option value="substantial">substantial</option>
                                <option value="high">high</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Scopes</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked disabled id="authScopeOpenid"
                                   name="scope" value="openid"/>
                            <label class="form-check-label" for="authScopeOpenid">
                                openid
                            </label>
                            <!-- Disabled fields are skipped when form is submitted but `openid` scope will always be
                                 added the client backend -->
                        </div>
                        <th:block th:if="${authentication_provider == 'tara'}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeIdcard"
                                       name="scope" value="idcard"/>
                                <label class="form-check-label" for="authScopeIdcard">
                                    idcard
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeMid"
                                       name="scope" value="mid"/>
                                <label class="form-check-label" for="authScopeMid">
                                    mid
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeSmartid"
                                       name="scope" value="smartid"/>
                                <label class="form-check-label" for="authScopeSmartid">
                                    smartid
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeEidas"
                                       name="scope" value="eidas"/>
                                <label class="form-check-label" for="authScopeEidas">
                                    eidas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeEidasonly"
                                       name="scope" value="eidasonly"/>
                                <label class="form-check-label" for="authScopeEidasonly">
                                    eidasonly
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="authScopeEmail"
                                       name="scope" value="email"/>
                                <label class="form-check-label" for="authScopeEmail">
                                    email
                                </label>
                            </div>
                        </th:block>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="authScopePhone"
                                   name="scope" value="phone"/>
                            <label class="form-check-label" for="authScopePhone">
                                phone
                            </label>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <input class="form-control form-control-sm" type="text" id="authScopeCustom"
                                       name="scope"/>
                            </div>
                            <label class="col col-form-label col-form-label-sm" for="authScopeCustom">
                                <th:block th:if="${authentication_provider == 'tara'}">
                                    custom value, for example <code>eidas:country:ca</code>
                                </th:block>
                                <th:block th:if="${authentication_provider == 'govsso'}">
                                    custom value
                                </th:block>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom below-other-elements">
    <p class="mb-1"><img src="/assets/eu_regional_development_fund_horizontal.jpg" width="100px"></p>
</footer>
<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Required scripts -->
<script src="/scripts/login.js" type="text/javascript"></script>
</body>
</html>
