<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="'/assets/' + ${application_logo}" type="image/svg+xml">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/loginView.css">
    <title th:text="${application_name}"></title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 m-2" href="dashboard">
        <img class="d-inline-block align-top" height="30" th:src="'/assets/' + ${application_logo}"
             width="30"/>&nbsp;<span
            th:text="${application_name}"/>
    </a>
    <div>
        <ul class=" navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a id="loginUrl" class="btn btn-primary" role="button"
                   th:href="'/oauth2/authorization/' + ${authentication_provider}">Log in</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div th:if="${show_post_logout_message}" class="alert alert-info" role="alert"
                 th:text="'You have been logged out from ' + ${application_name}">
            </div>
            <div th:if="${param.error}" th:switch="${param.error[0]}">
                <div class="alert alert-danger" role="alert" th:case="invalid_session">
                    Invalid session!
                </div>
                <div class="alert alert-danger" role="alert" th:case="expired_session">
                    Session expired!
                </div>
                <div class="alert alert-info" role="alert" th:case="user_cancel">
                    User cancelled authentication!
                </div>
                <div class="alert alert-danger" role="alert" th:case="*">
                    Error during authentication!
                </div>
            </div>
            <h1 class="display-3" th:text="${application_name} + ' e-service'">Welcome!</h1>
            <p>Welcome to our e-service! </p>
            <p>To access your dashboard, please log in.</p>
            <br>
            <p>Authentication request locale: <select id="localeOptions">
                <option value="none">(none)</option>
                <option value="et">et</option>
                <option value="en">en</option>
                <option value="ru">ru</option>
            </select></p>
            <p>Authentication request ACR: <select id="acrOptions">
                <option value="none">(none)</option>
                <option value="low">low</option>
                <option value="substantial">substantial</option>
                <option value="high">high</option>
            </select></p>
            <p>Authentication request phone scope: <input type="checkbox" id="requestPhoneScope"></p>
        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom below-other-elements">
    <p class="mb-1"><img src="/assets/eu_regional_development_fund_horizontal.jpg" width="100px"></p>
</footer>
<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="/webjars/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Required scripts -->
<script src="/scripts/login.js" type="text/javascript"></script>
</body>
</html>
